<!DOCTYPE html>
<html>
  <head>
    <title>raphael-paint</title>

    <!-- Bring In jQuery -->
    <script src="/jquery/jquery.js"></script>

    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Bring In raphael -->
    <script src="/raphael/raphael-min.js"></script>

    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="/jsbootcamp.css">
    <script type="text/javascript" src="/raphael-paint.js"></script>
  </head>

  <body>
  

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <input type="color" id="strokeColorPicker" value="#AAA">
    <input type="number" id="strokeWidthPicker" value="5" min="1" max="50">
    <div class="btn-group">
      <button type="button" class="btn btn-default clear">Clear All</button>
      <button type="button" class="btn btn-default undo">Undo</button>
    </div> 
  </nav>  

  </body>

</html>
